.cmpui_tree-view__root {
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .cmpui_tree-view__ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
  }
  
  .cmpui_tree-view__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cmpui_tree-view__item-dir {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cmpui_tree-view__item-dir-ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cmpui_tree-view__drag-indicator {
    border: 1px solid var(--cmpui-primary-color);
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
  }
  
  .cmpui_tree-view__drag-indicator::after {
    border: 1px solid var(--cmpui-bg-color);
    content: "";
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    width: calc(100%);
  }
  
  .cmpui_tree-view__drag-indicator[data-order="0"] {
    border-bottom: none;
  }
  
  .cmpui_tree-view__drag-indicator[data-order="0"]::after {
    border-bottom: none;
  }
  
  .cmpui_tree-view__drag-indicator[data-order="1"] {
    border-top: none;
  }
  
  .cmpui_tree-view__drag-indicator[data-order="1"]::after {
    border-top: none;
  }
  