.cmpui_sv-picker__root {
  border: 1px solid var(--cmpui-border-color);
  box-sizing: border-box;
  display: flex;
  height: fit-content;
  position: relative;
  touch-action: none;
  width: fit-content;
}

.cmpui_sv-picker__root:focus-visible {
  outline: 1px solid var(--cmpui-primary-color);
  outline-offset: 1px;
}

.cmpui_sv-picker__nob {
  cursor: grab;
  transition: border 0.1s ease-in-out;
}

.cmpui_sv-picker__nob:active {
  cursor: grabbing;
}
