.cmpui_select__root {
  align-items: center;
  background-color: var(--cmpui-bg-color);
  border-radius: 4px;
  border: 1px solid var(--cmpui-border-color);
  box-sizing: border-box;
  color: var(--cmpui-text-color);
  cursor: pointer;
  display: flex;
  font-family: unset;
  font-size: 14px;
  gap: 8px;
  height: 32px;
  justify-content: space-between;
  line-height: 16px;
  padding: 0px 8px;
  position: relative;
  text-decoration: none;
}

.cmpui_select__root[aria-disabled="true"] {
  cursor: default;
  opacity: 0.5;
}

.cmpui_select__root:hover {
  border: 1px solid var(--cmpui-border-hover-color);
}

.cmpui_select__label {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--cmpui-bg-color) 25%,
    var(--cmpui-bg-color) 75%,
    transparent 100%
  );
  color: var(--cmpui-text2-color);

  font-size: 12px;
  line-height: 14px;
  padding: 0 4px;
  position: absolute;
  transform: translate(0, -16px);
}

.cmpui_select__root:focus-visible {
  outline: var(--cmpui-primary-color) solid 1px;
  outline-offset: 1px;
}

.cmpui_select__root:disabled {
  cursor: default;
  opacity: 0.5;
}
