.cmpui_split-pane__root {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.cmpui_split-pane__root[data-orientation="vertical"] {
  flex-direction: column;
}

.cmpui_split-pane__child {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.cmpui_split-pane__divider {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 4px;
}

.cmpui_split-pane__divider[data-resizable="true"] {
  cursor: col-resize;
}

.cmpui_split-pane__divider[data-orientation="vertical"] {
  min-height: 4px;
  width: 100%;
}

.cmpui_split-pane__divider[data-resizable="true"][data-orientation="vertical"] {
  cursor: row-resize;
}

.cmpui_split-pane__divider > div {
  height: 100%;
  transition: width 0.1s ease-in-out;
  width: 0px;
}

.cmpui_split-pane__divider[data-orientation="vertical"] > div {
  height: 0px;
  transition: height 0.1s ease-in-out;
  width: 100%;
}

.cmpui_split-pane__divider[data-resizable="true"]:hover > div {
  background-color: var(--cmpui-primary-color);
  width: 4px;
}

.cmpui_split-pane__divider[data-resizable="true"][data-orientation="vertical"]:hover
  > div {
  background-color: var(--cmpui-primary-color);
  height: 4px;
  width: 100%;
}
