.alpha-checker-board {
  --cmpui-block-size: 8px;

  --cmpui-gray-color: #808080;
  --cmpui-white-color: #ffffff;

  background-image: repeating-conic-gradient(
    var(--cmpui-gray-color) 0% 25%,
    var(--cmpui-white-color) 0% 50%
  );

  background-size: calc(var(--cmpui-block-size) * 2)
    calc(var(--cmpui-block-size) * 2);
}
