.cmpui_select__root {
  align-items: center;
  background-color: var(--cmpui-bg-color);
  border-radius: 4px;
  border: 1px solid var(--cmpui-border-color);
  box-sizing: border-box;
  color: var(--cmpui-text-color);
  cursor: pointer;
  display: flex;
  font-family: unset;
  font-size: 14px;
  gap: 8px;
  height: 32px;
  justify-content: space-between;
  line-height: 16px;
  padding-left: 8px;
  padding-right: 32px;
  position: relative;
  text-decoration: none;
}

.cmpui_select__root::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  right: 8px;
  display: flex;
  /* https://fonts.google.com/icons?selected=Material+Symbols+Outlined:keyboard_arrow_down:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%235f6368&icon.query=Keyboard+Arrow+Down */
  mask-image: url("data:image/svg+xml;charset=utf8,%20%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-960%20960%20960%22%20%3E%20%3Cpath%20d%3D%22M480-345%20240-585l56-56%20184%20184%20184-184%2056%2056-240%20240Z%22%20%2F%3E%20%3C%2Fsvg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

.cmpui_select__preview {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.cmpui_select__root[aria-disabled="true"],
.cmpui_select__root:disabled {
  cursor: default;
  opacity: 0.5;
}

.cmpui_select__root:not(:disabled):not([aria-disabled="true"]):hover {
  border: 1px solid var(--cmpui-border-hover-color);
}

.cmpui_select__label {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--cmpui-bg-color) 25%,
    var(--cmpui-bg-color) 75%,
    transparent 100%
  );
  color: var(--cmpui-text2-color);

  font-size: 12px;
  line-height: 14px;
  padding: 0 4px;
  position: absolute;
  transform: translate(4px, -16px);
}

.cmpui_select__root:focus-visible {
  outline: var(--cmpui-primary-color) solid 1px;
  outline-offset: 1px;
}

.cmpui_select_check-icon {
  position: absolute;
  left: 8px;
}

.cmpui_select_check-icon::before {
  content: "";
  display: flex;
  width: 12px;
  height: 12px;
  /* https://fonts.google.com/icons?selected=Material+Symbols+Outlined:check:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%235f6368&icon.query=check */
  mask-image: url("data:image/svg+xml;charset=utf8,%20%3Csvg%20v-if%3D%22option.value%20%3D%3D%3D%20props.value%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-960%20960%20960%22%20fill%3D%22currentColor%22%20%3E%20%3Cpath%20d%3D%22M382-208%20122-468l90-90%20170%20170%20366-366%2090%2090-456%20456Z%22%20%2F%3E%20%3C%2Fsvg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

/* Native */

.cmpui_select-native__root {
  padding: 0;
}

.cmpui_select-native__root > select {
  text-overflow: ellipsis;
  white-space: nowrap;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 32px;
  position: relative;
}

.cmpui_select-native__root > select:focus {
  outline: var(--cmpui-primary-color) solid 1px;
  outline-offset: 2px;
  border-radius: 2px;
}
