.cmpui_drawer {
  background-color: var(--cmpui-bg-color);

  left: 0;
  min-width: 256px;
  max-width: 256px;
  height: 100%;
  position: absolute;
}

.cmpui_drawer__overlay {
  background-color: var(--cmpui-overlay-color);

  inset: 0;
  position: fixed;
  z-index: 1000;
}

.cmpui_drawer_transition-enter-active,
.cmpui_drawer_transition-leave-active {
  transition: opacity 250ms;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.cmpui_drawer_transition-enter-to,
.cmpui_drawer_transition-leave-from {
  opacity: 1;
}

.cmpui_drawer_transition-enter-from,
.cmpui_drawer_transition-leave-to {
  opacity: 0;
}

.cmpui_drawer_transition-enter-active > .cmpui_drawer,
.cmpui_drawer_transition-leave-active > .cmpui_drawer {
  transition: transform 250ms;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.cmpui_drawer_transition-enter-to > .cmpui_drawer,
.cmpui_drawer_transition-leave-from > .cmpui_drawer {
  transform: translate(0%, 0%);
}

.cmpui_drawer_transition-enter-from > .cmpui_drawer,
.cmpui_drawer_transition-leave-to > .cmpui_drawer {
  transform: translate(-100%, 0%);
}
