.cmpui_checkbox__root {
  align-items: center;
  display: flex;
  gap: 8px;
}

.cmpui_checkbox__root[aria-disabled="true"] {
  cursor: default;
  opacity: 0.5;
}

.cmpui_checkbox__box {
  display: flex;
  height: min-content;
  position: relative;
  width: min-content;
}

.cmpui_checkbox__input {
  background-color: var(--cmpui-bg-color);
  border: 1px solid var(--cmpui-border-color);

  appearance: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  margin: 0;
  padding: 0 2px;
  position: relative;
  transition: background-color 100ms;
  width: 24px;
  will-change: background-color;
}

.cmpui_checkbox__input:focus-visible {
  outline: var(--cmpui-primary-color) solid 1px;

  outline-offset: 1px;
}
.cmpui_checkbox__input:checked {
  background-color: var(--cmpui-primary-color);
}

.cmpui_checkbox__input:disabled {
  cursor: default;
  opacity: 0.5;
}

.cmpui_checkbox__indicator {
  align-items: center;
  color: white;
  display: flex;
  display: none;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.cmpui_checkbox__indicator[data-checked="true"] {
  display: flex;
}

.cmpui_checkbox__label {
  color: var(--cmpui-text-color);

  font-size: 14px;
}
